@import url('https://fonts.googleapis.com/css2?family=Alfa+Slab+One&family=Dancing+Script:wght@400..700&family=Fascinate+Inline&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Pinyon+Script&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100..900;1,100..900&family=Style+Script&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Alfa+Slab+One&family=Dancing+Script:wght@400..700&family=Epunda+Slab:ital,wght@0,300..900;1,300..900&family=Fascinate+Inline&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Pinyon+Script&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100..900;1,100..900&family=Style+Script&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: "Poppins", sans-serif;
    list-style: none;
    scroll-behavior: smooth;
}


html {
    font-size: 62.5%;
}

body {
    background-color: white;
}

section {
    padding: 5rem 8%;
    margin: auto;
}


header {
    position: sticky;
    top: 0;
    /* Distance par rapport au haut du conteneur parent */
    z-index: 100;
    /* Pour que ça reste au-dessus des autres éléments */
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: white;
    z-index: 1;
    margin-top: 3px;
    background-color: white;
    padding: 12px 15px 20px 15px;
    width: 100%;
    cursor: pointer;
}


.logo-div {
    display: flex;
    align-items: center;
    justify-content: start;
    width: 30%;
    position: relative;
    transform: rotate(-3deg);
}


.logo-div a {
    display: inline-block;
    transition: 0.3s;
}

.logo-div a img {
    height: 65px;      /* ajuste la hauteur selon ton besoin */
    width: 22rem;       /* garde les proportions */
    display: block;    /* évite les petits espaces sous l’image */
}

.logo-div a:hover,
.actualite .title a:hover {
    color: #00C064;
}


.nav-links {
    width: 54%;
}

.nav-links ul {
    display: flex;
    justify-content: end;
    align-items: center;
}

.nav-links ul li {
    position: relative;
    /* Important pour le sous-menu */
}

.nav-links ul li a {
    padding: 7px;
    margin: 13px 0 13px 13px;
    color: #2D734B;
    font-size: 1.5rem;
    font-weight: 500;
    transition: 0.3s;
}

.nav-links ul li .prog {
    display: flex;
    /* Active flexbox */
    align-items: center;
    /* Centre verticalement le texte et l’icône */
    text-decoration: none;
    color: #2D734B;
    font-size: 16px;
}

.nav-links ul li .inf-pra {
    display: flex;
    /* Active flexbox */
    align-items: center;
    /* Centre verticalement le texte et l’icône */
    text-decoration: none;
    color: #2D734B;
    font-size: 16px;
}

/* .nav-links ul li .unique {
    margin: 10px;
} */

.nav-links ul li .unique:hover {
    background-color: #2D734B;
    border-radius: 5px;
    color: white;
}

/* Sous-menu */
.nav-links ul li .submenu {
    display: none;
    /* Caché par défaut */
    position: absolute;
    top: 90%;
    /* Juste en dessous du parent */
    left: 15px;
    border-radius: 5px;
    background-color: #fdfafa;
    min-width: 200px;
    min-height: 100px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.15);
    overflow: hidden;
    z-index: 1000;
    flex-direction: column;
}

/* Afficher le sous-menu au hover */
.nav-links ul li:hover .submenu {
    display: flex;
    justify-content: center;
    align-items: stretch;
}

.nav-links ul li .submenu li a {
    margin: 0;
    display: block;
    padding: 10px;
    color: #2D734B;
    text-decoration: none;
    transition: background 0.5s ease;
    z-index: 10000;
}


.nav-links ul li .submenu li a:hover {
    background-color: #2D734B;
    border-radius: 5px;
    color: white;
}


/* les bouttons header : adhérer et donner */

.bouttons {
    display: flex;
    align-items: center;
    justify-content: end;
    width: 16%;
}

.bouttons .btn {
    padding: 10px;
    border-radius: 5px;
    color: white;
    font-size: 16PX;
    font-weight: 800;
    background-color: rgb(243, 42, 42);
    border: 1px solid rgb(243, 42, 42);
    transition: 0.3s;
    cursor: pointer;
}

.bouttons .btn:hover {
    background-color: rgb(148, 22, 22);
    border: 1px solid rgb(148, 22, 22);
}

.bouttons .btn1 {
    margin-right: 15px;
    border: 1px solid #00C064;
    background-color: #00C064;
    transition: 0.3s;
}

.bouttons .btn1:hover {
    border: 1px solid #2D734B;
    background-color: #2D734B;
}

/* -----------responsive de header sur mobile---------------- */



/* Bouton hamburger */
.menu-toggle {
    display: none;
    font-size: 2rem;
    cursor: pointer;
}

/* 📱 Responsive */
@media (max-width: 768px) {
    .nav-links ul {
        display: none;
        flex-direction: column;
        background: #1b5e20;
        position: absolute;
        top: 60px;
        right: 0;
        width: 220px;
        padding: 10px;
        border-radius: 10px;
    }

    .nav-links ul li {
        width: 100%;
        position: relative;
    }

    .nav-links ul li a {
        padding: 3px;
        margin: 5px 0 5px 5px;
        color: white;
        font-size: 1.3rem;
        font-weight: 300;
        transition: 0.3s;
    }

    /* Sous-menu */
    .nav-links ul li .submenu {
        display: none;
        /* Caché par défaut */
        position: absolute;
        top: 90%;
        /* Juste en dessous du parent */
        left: 5px;
        border-radius: 5px;
        background-color: #fdfafa;
        min-width: 50px;
        min-height: 25px;
        box-shadow: 0 4px 10px rgba(0, 0, 0, 0.15);
        overflow: hidden;
        z-index: 1000;
        flex-direction: column;
    }

    /* Afficher le sous-menu au hover */
    .nav-links ul li:hover .submenu {
        display: flex;
        justify-content: center;
        align-items: stretch;
    }

    .nav-links ul li .submenu li a {
        margin: 0;
        display: block;
        padding: 5px;
        color: #2D734B;
        text-decoration: none;
        transition: background 0.5s ease;
        z-index: 10000;
    }

    .nav-links ul li .submenu li a:hover {
        background-color: #2D734B;
        border-radius: 5px;
        color: white;
    }



    .nav-links ul.active {
        display: flex;
    }

    .menu-toggle {
        display: block;
    }

    /* Sous-menu en mobile */
    .nav-links ul li:hover .submenu {
        position: relative;
        top: 0;
        background: #2e7d32;
    }

    /* Les boutons passent en dessous du menu */
    header .bouttons {
        display: none;
        /* cachés sur mobile par défaut */
    }
}




/* ---------------------------------------sectin-home-------------------------- */
.home-section {
    display: flex;
    align-items: center;
    height: 70vh;
    overflow: hidden;
    background-color: #F9F9F9;
}

/* Partie gauche */
.home-left {
    flex: 1;
    background: #2D734B;
    /* vert */
    color: white;
    padding: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 60vh;
}

.home-left h1 {
    font-size: 5.5rem;
    margin-bottom: 30px;
    font-weight: 900;
}

.home-left p {
    font-size: 1.2rem;
    margin-bottom: 30px;
}

.slogan {
    text-align: center;
    font-size: 2rem;
    font-weight: bold;
    margin: 30px 0;
    font-family: "Times New Roman", serif;
    letter-spacing: 2px;
    color: white;
    /* noir clair */
    background-color: #fdfafa;
    width: 40rem;
    border-radius: 2px;
}

.slogan span {
    display: inline-block;
    opacity: 0;
    animation: fadeIn 2s forwards;
}

.slogan span:nth-child(1) {
    animation-delay: 0.5s;
    color: #021F59;
    /* vert clair */
}

.slogan span:nth-child(2) {
    animation-delay: 1.5s;
    color: #00C064;
    /* bleu */
}

.slogan span:nth-child(3) {
    animation-delay: 2.5s;
    color: #F2B807;
    /* orange */
}

@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(20px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}


/* Partie droite */
.home-right {
    flex: 1;
    position: relative;
}

.home-right img {
    width: 100%;
    height: 70vh;
    object-fit: cover;
}

/* Effet superposition du vert par dessus l'image */
.overlay2 {
    position: absolute;
    top: 0;
    left: -50px;
    /* décale le vert par dessus l'image */
    width: 200px;
    height: 70vh;
    background: #00C064;
    opacity: 0.8;
    transform: skewX(-10deg);
    /* effet incliné */
}

@media (max-width: 900px) {
    .home-section {
        flex-direction: column;
    }

    .home-left,
    .home-right {
        flex: unset;
        width: 100%;
    }

    .overlay2 {
        display: none;
    }

    .actualite {
        flex-direction: column;
    }

    .grid-actualite {
        flex: unset;
        width: 100%;
    }

    .info {
        flex-direction: column;
    }

    .content,
    .buttons {
        flex: unset;
        width: 100%;
    }



    .info .newsletter {
        flex-direction: column;
    }

    .form,
    .input {
        flex: unset;
        width: 100%;
    }

    .overlay {
        display: none;
    }
}

/* ----------------------------------section actualités--------------------------------- */
.actus-section {
    width: 120rem;
    margin: 50px auto;
    padding: 20px;
}

.actus-section h2 {
    color: #2D734B;
    text-transform: uppercase;
    text-align: left;
    font-size: 4.2rem;
    font-weight: 900;
    margin-bottom: 40px;
}

.actus-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 40px;
}

.actu-card {
    background: #00C064;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    transition: transform 0.2s;
    cursor: pointer;
    text-decoration: none;
    color: inherit;
}

.actu-card:hover {
    transform: translateY(-5px);
    transform: scale(1.1);
}

.actu-card img {
    width: 100%;
    height: 200px;
    object-fit: cover;
}

.actu-card h3 {
    margin: 15px;
    font-size: 2.1rem;
    color: white;
}

.actu-card p {
    margin: 0 15px 20px;
    color: #fdfafa;
    font-size: 1.2rem;
}

@media (max-width: 900px) {
    .actus-container {
        grid-template-columns: 1fr;
    }
}

/* -------------------------------Section Rester informé.es avec image et overlay------------------- */
.info {
    position: relative;
    background: url("images/mvt-de-jeune.jpg") center/cover no-repeat;
    border-radius: 20px;
    overflow: hidden;
    margin: 10rem auto;
    max-width: 1300px;
    text-align: center;
    padding: 80px 20px;
    color: white;
}

/* Voile vert transparent */
.info .overlay {
    position: absolute;
    inset: 0;
    background: rgba(0, 192, 100, 0.6);
    /* vert transparent */
}

/* Contenu au-dessus */
.info .content {
    position: relative;
}

/* Titre */
.info h1 {
    font-size: 6rem;
    font-weight: 900;
    text-transform: uppercase;
    margin-bottom: 40px;
    line-height: 1.2;
}

/* Boutons */
.info .buttons {
    display: flex;
    justify-content: center;
    gap: 20px;
    flex-wrap: wrap;
}

.info .btn {
    background: white;
    color: #00C064;
    font-weight: 900;
    padding: 14px 32px;
    border-radius: 4px;
    text-decoration: none;
    transition: all 0.3s ease;
    font-size: 1.5rem;
    letter-spacing: 1px;
}

.info .btn:hover {
    background: #2D734B;
    color: white;
    transform: translateY(-3px);
}

/* Formulaire Newsletter */
.newsletter form {
    display: flex;
    justify-content: center;
    margin-top: 25px;
}

.newsletter input[type="text"] {
    padding: 12px;
    border: none;
    border-radius: 8px 8px 8px 8px;
    margin-right: 10px;
    width: 10%;
}

.newsletter input[type="email"] {
    padding: 12px;
    border: none;
    border-radius: 8px 0 0 8px;
    width: 40%;
}

.newsletter button {
    background: #00C064;
    color: white;
    border: none;
    border-radius: 0 8px 8px 0;
    padding: 12px 18px;
    cursor: pointer;
    transition: 0.3s;
}

.newsletter button:hover {
    background: #2D734B;
}

/* ------------------------------------page Présentation-------------------------------- */

.presentation {
    background: linear-gradient(to right,
            #2D734B,
            /* Vert foncé très visible à droite */
            rgba(51, 212, 140, 1), rgba(0, 192, 100, 1),
            /* Ton vert intermédiaire */
            #2D734B, #00C064
            /* Transparent vers la gauche */
        );
    min-height: 100vh;
    margin: 0;
}

.presentation .container {
    text-align: center;
    color: white;
}

.presentation .container h1 {
    font-size: 6rem;
    font-weight: 900;
    margin-left: 27rem;
    margin-bottom: 15px;
    text-align: left;
}

.social-icons img {
    width: 20px;
    height: 20px;
    margin-top: 5px;
    border-radius: 50%;
    object-fit: contain;
}

.social-icons {
    margin-bottom: 30px;
    display: flex;
    align-items: center;
    justify-content: start;
    margin-left: 26rem;
}

.social-icons a {
    color: white;
    font-size: 2.5rem;
    margin: 0 15px;
    text-decoration: none;
    transition: transform 0.3s, color 0.3s;
}

.social-icons a:hover {
    transform: scale(1.2);
    color: #f1f1f1;
}


.photo {
    width: 750px;
    /* largeur fixe */
    margin: 0 auto;
}

.photo img {
    width: 100%;
    border-radius: 10px 10px 0 0;
    /* arrondi en haut */
    display: block;
}

.photo-text {
    background: white;
    color: gray;
    text-align: left;
    padding: 45px 40px 200px 40px;
    font-size: 1.6rem;
    border-radius: 0 0 10px 10px;
    margin-bottom: 50px;
}



/* ----------------------footer: pieds des pages principal--------------------------- */

footer {
    height: 30vh;
    background-color: #2D734B;
    border-radius: 30px 30px 0 0;
    color: white;
    padding: 40px 30px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 30px;
}

footer h3 {
    margin-bottom: 15px;
    font-size: 1.5rem;
    text-transform: uppercase;
    letter-spacing: 2px;
}

footer .liens-utiles p a:hover {
    text-decoration: underline;
}

footer .sv-nous {
    margin-left: 100px;
}

footer p,
footer a {
    font-size: 1.2rem;
    line-height: 1.6;
    text-decoration: none;
    color: #f1f1f1;
}


footer .buttons {
    display: flex;
    justify-content: space-between;
    gap: 15px;
    flex-wrap: wrap;
    width: 380px;
}

footer .btn {
    background: white;
    color: #00C064;
    font-weight: 900;
    padding: 14px 32px;
    border-radius: 4px;
    text-decoration: none;
    transition: all 0.3s ease;
    font-size: 1.5rem;
    letter-spacing: 1px;
}

footer .btn:hover {
    background: #2D734B;
    color: white;
    transform: translateY(-3px);
    border: 1px solid white;
}


.footer-bottom {
    grid-column: 1 / -1;
    text-align: center;
    margin-top: 5px;
    font-size: 1rem;
    border-top: 1px solid rgba(255, 255, 255, 0.2);
    padding-bottom: 10px;
    color: #1b5e20;
}


/* ----------------------footer: pieds des pages présentation--------------------------- */

.foot {
    min-height: 30vh;
    background-color: #F2F2F2;
    color: #2D734B;
    border-radius: 30px 30px 0 0;
    padding: 40px 30px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 30px;
    margin-top: 5px;
}

.foot h3 {
    margin-bottom: 15px;
    font-size: 1.5rem;
    text-transform: uppercase;
    letter-spacing: 2px;
}

foot .liens-utiles p a:hover {
    text-decoration: underline;
}


.foot p,
.foot a {
    font-size: 1.2rem;
    line-height: 1.6;
    text-decoration: none;
    color: #2D734B;
}


.socials-icons a {
    margin-right: 15px;
    font-size: 1.4rem;
    color: #2D734B;
    transition: color 0.3s, transform 0.3s;
}

.socials-icons a i:hover,
.socials-icons a img:hover {
    transform: scale(1.4);
}

.socials-icons img {
    width: 15px;
    height: 15px;
    margin-top: 10px;
    border-radius: 50%;
    object-fit: contain;
}

.foot-bottom {
    grid-column: 1 / -1;
    text-align: center;
    margin-top: 30px;
    font-size: 1rem;
    border-top: 1px solid #2D734B;
    padding-top: 15px;
    color: #2D734B;
}


/* ------------------------------------page des actus-------------------------------- */
.actu-page {
    width: 80rem;
    margin: auto;
    background: white;
    padding: 30px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin-bottom: 70px;
    margin-top: 30px;
}

.actu-page h1 {
    color: #2D734B;
    margin-bottom: 30px;
    font-size: 3rem;
    font-weight: 600;
}

.actu-page img {
    width: 100%;
    border-radius: 5px;
    margin-bottom: 20px;
}

.actu-page p {
    color: #2D734B;
    line-height: 1.6;
    margin-bottom: 15px;
    font-weight: 400;
    font-size: 1.7rem;
}

a.retour {
    display: inline-block;
    margin-top: 20px;
    text-decoration: none;
    color: #2E9E47;
    font-weight: bold;
}

/* -----------------------------------page informations pratique----------------------------------------- */

.bg-infos {
    background: linear-gradient(to right,
            #2D734B,
            /* Vert foncé très visible à droite */
            rgba(51, 212, 140, 1), rgba(0, 192, 100, 1),
            /* Ton vert intermédiaire */
            #2D734B, #00C064
            /* Transparent vers la gauche */
        );
    min-height: 80vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.infos-page {
    margin-top: 40px;
    margin-bottom: 7rem;
    min-width: 800px;
    min-height: 70vh;
    margin: auto;
    background: white;
    padding: 30px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.infos-page h1 {
    margin-bottom: 20px;
    color: #2D734B;
}

.infos-page img {
    width: 100%;
    border-radius: 5px;
    margin-bottom: 20px;
}

.infos-page p {
    line-height: 1.6;
    margin-bottom: 15px;
    color: #00C064;
}

a.retour {
    display: inline-block;
    margin-top: 20px;
    text-decoration: none;
    color: #2E9E47;
    font-weight: bold;
}

/* ------------------------------------page des programme-------------------------------- */
.programme-page {
    width: 80rem;
    min-height: 70vh;
    margin: 30px auto 50px auto;
    background: white;
    padding: 30px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    color: #00C064;
}

.programme-page h1 {
    margin-bottom: 20px;
    color: #2D734B;
}

.programme-page img {
    width: 100%;
    border-radius: 5px;
    margin-bottom: 20px;
}

.programme-page p {
    line-height: 1.6;
    margin-bottom: 25px;
    color: #00C064;
}

a.retour {
    display: inline-block;
    margin-top: 20px;
    text-decoration: none;
    color: #2E9E47;
    font-weight: bold;
}